body {
    background-image:url("star.jpg");
}
    .main {
      background: white;
color: black;
    text-align: center;
  margin-top: 100px;
  padding: 100px;
   border: 2px solid #04AA6D;
  padding: 10px;
  border-radius: 25px;

    }
 

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.nav {
  float: left;
}

li a {
  display: block;
  color:white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: large;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}
.lists {
background-color: #04AA6D;
left: 50px;

}